
#EditorBarComponent {
    -fx-min-height: 30;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#EditorLoadingLayer {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-alignment: center;
}

#EditorLoadingProgress {
    -fx-min-height: 150;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MainSplitPane {
    -fx-background-color: transparent;
}

#AssetComponent {
    -fx-background-color: -fx-color-panel-100;
    -fx-alignment: top-center;
    -fx-effect: null;
    -fx-border-color: red;
    -fx-border-width: 0;
    -fx-min-width: 250;
}

#AssetComponentBar {
    -fx-background-color: transparent;
    -fx-min-height: 30;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-alignment: center-right;
}

#AssetComponentBarButton {
    -fx-min-height: 30;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 30;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#AssetComponentResourceTreeCell {
}

#EditorAreaComponent {
    -fx-min-width: 500;
}

#FileEditorToolbar {
    -fx-alignment: center-left;
    -fx-min-height: 34;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-background-color: -fx-color-panel-200;
    -fx-padding: 10, 0, 0, 0;
}

#TextEditorTextArea {
    -fx-background-color: -fx-color-panel-200;
}

#TextEditorTextArea .caret {
    -fx-stroke: white;
}

#TextEditorTextArea .content {
    -fx-background-color: -fx-color-panel-200;
}

#PostFilterEditorMaterialListContainer {
    -fx-background-color: -fx-color-panel-200;
    -fx-alignment: top-left;
    -fx-min-width: 300;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#PostFilterEditorAddMaterialButton {
    -fx-min-height: 30;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 30;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#PostFilterEditorCellRemoveButton {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 24;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#EditorDialogBackground {
    -fx-alignment: top-center;
    -fx-background-color: -fx-color-panel-100;
    -fx-effect: -fx-material-shadow-panel;
}

#EditorDialogHeader {
    -fx-alignment: center-right;
    -fx-background-color: -fx-color-panel-200;
    -fx-effect: -fx-material-shadow-panel;
    -fx-min-height: 30;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-cursor: move;
}

#EditorDialogHeaderButtonClose {
    -fx-min-height: 30;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 30;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#EditorDialogButtonOk {
    -fx-min-height: 28;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#EditorDialogButtonCancel {
    -fx-min-height: 28;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#AssetEditorDialogButtonContainer {
    -fx-alignment: center-right;
    -fx-min-height: 45;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#AssetEditorDialogPreviewContainer {
    -fx-border-color: -fx-color-0;
    -fx-border-width: 1;
    -fx-min-height: 600;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 600;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialFileEditorToolbarLabel {
    -fx-min-height: 28;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#MaterialFileEditorToolbarBox {
    -fx-min-height: 28;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 400;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialFileEditorToolbarSmallBox {
    -fx-min-height: 28;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialFileEditorParameterContainer {
    -fx-background-color: -fx-color-panel-200;
    -fx-alignment: top-left;
    -fx-min-width: 300;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialParamControlParamName {
    -fx-min-width: 140;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialParamControlButton {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 24;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialParamControlSpinner {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 84;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialParamControlCheckbox {
    -fx-alignment: center;
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 24;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialParamControlCheckbox > .box {
    -fx-min-height: 20;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 20;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#MaterialParamControlCheckbox > .box > .mark {
    -fx-min-height: 15;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 15;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#Texture2DMaterialParamControlPreview {
    -fx-min-height: 30;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 30;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-border-color: -fx-color-panel-50;
    -fx-border-width: 1;
}

#MaterialRenderStatePolyOffsetField {
    -fx-min-width: 30;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#FileCreatorLabel {
    -fx-alignment: center-right;
    -fx-min-width: 120;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#FileCreatorTextField {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#GraphicsDialogMessageLabel {
    -fx-alignment: center;
    -fx-min-height: 35;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-fill: -fx-color-400;
    -fx-text-fill: -fx-color-400;
    -fx-wrap-text: true;
}

#GraphicsDialogLabel {
    -fx-alignment: center-right;
    -fx-min-width: 200;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#GraphicsDialogField {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#ModelFileEditorParameterContainer {
    -fx-background-color: -fx-color-panel-200;
    -fx-alignment: top-left;
    -fx-min-width: 300;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#ModelNodeTreeCell {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#ModelNodeTreeCellDragged {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-background: -fx-color-A400;
}

#ModelNodeTreeCellDropAvailable {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-background: -fx-color-A200;
}

#ModelParamControlSplitLine {
    -fx-stroke: -fx-color-500;
    -fx-stroke-width: 2;
}

#ModelParamControlParamName {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#ModelParamControlParamNameSingleRow {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 140;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-alignment: center-right;
}

#ModelParamControlNumberLabel {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#ModelParamControlVector3fField {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 72;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#ModelParamControlVector4fField {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 50;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#ModelParamControlComboBox {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#ModelParamControlMaterialLabel {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 225;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
}

#ModelParamControlMaterialButton {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 24;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#RenameDialogLabel {
    -fx-alignment: center-right;
    -fx-min-width: 120;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#RenameDialogTextField {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#ImageChannelPreview {
    -fx-background-color: -fx-color-panel-200;
    -fx-effect: -fx-material-shadow-panel;
}

#ImageChannelPreviewImageContainer {
    -fx-alignment: center;
    -fx-min-width: 122;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-min-height: 122;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-border-color: -fx-color-panel-50;
    -fx-border-width: 1;
    -fx-fit-to-height: 122;
    -fx-fit-to-width: 122;
}

#ChooseTextureControlTextureLabel {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 250;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-alignment: center-left;
}

#ChooseTextureControlPreview {
    -fx-min-height: 30;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 30;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-border-color: -fx-color-panel-50;
    -fx-border-width: 1;
}

#CreateSkyDialogLabel {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 200;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-alignment: center-right;
}

#CreateSkyDialogComboBox {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 250;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#CreateSkyDialogSpinner {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 70;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#CreateSkyDialogButton {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 24;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#GenerateTangentsDialogLabel {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 200;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-alignment: center-right;
}

#GenerateTangentsDialogComboBox {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 350;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}